<! DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <head>
        <!--Windows info-->
	<meta name="msapplication-TileImage" content="icon.png">
	<meta name="msapplication-TileColor" content="#002e58">

	<!--iOS info-->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title content="Nymbus">
	<link rel="apple-touch-icon" href="icon.png">
	
	<!--Android info-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Nymbus Password Generator </title>
	
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="manifest" href="manifest.json">
    </head>
    <body>
        <nav id="top">
            <ul>
            <li><img id="topLogo" src="icon1.png" onclick="window.location.href = 'index.html';"></img></li>
            <li><button type="button" class="topButton" onclick="window.location.href = 'pswdgen.html';">Passphrase Generator</button></li>
            <li><button type="button" class="topButton" onclick="window.location.href = 'privacy.html';">Privacy services</button></li>
            <li><button type="button" class="topButton" onclick="window.location.href = 'breach.html';">Security Services</button></li>
            <li><button type="button" class="topButton" onclick="window.open('https://phishingquiz.withgoogle.com')">Scam Email Quiz</button></li>
            <li><button type="button" class="topButton" onclick="window.open('donate.html')">Donate</button></li>
            </ul>
        </nav>
        <div id="main">
        <div id="icons" ng-app = "pswdgen" ng-controller="generate">
            <h1 class="title">{{passphrase}}</h1>
            <input class="input" type=text ng-model="word1" placeholder="Enter Word 1">
            <input class="input" type=text ng-model="word2" placeholder="Enter Word 2">
            <input class="input" type=text ng-model="word3" placeholder="Enter Word 3">
        <button id="about" type=button ng-click="passphrase = word1 + word2 + word3 + num">Generate</button>
        <script>
            var app = angular.module('pswdgen', []);

            app.controller('generate', function ($scope){
                $scope.num = Math.floor((Math.random() * 99) + 1);
                $scope.passphrase = "Please enter three words into the fields bellow: ";
            });
        </script>
        </div>
    </div>
    </body>
</html>
